<div class="accordion">
  <div class="accordion-section">
    <a class="accordion-section-title" href="#accordion-1">Misión</a>

    <div id="accordion-1" class="accordion-section-content">
      <p>Ofrecer productos de calidad, con estilo original propio de los empleados creando productos decorativos y de  confort para nuestros clientes cumpliendo con su satisfacción al máximo.</p>
    </div><!--end .accordion-section-content-->
  </div><!--end .accordion-section-->
</div><!--end .accordion-->

<div class="accordion">
  <div class="accordion-section">
    <a class="accordion-section-title" href="#accordion-2">Visión</a>

    <div id="accordion-2" class="accordion-section-content">
      <p class="text-fluid">Ser líderes en la venta de cerámica y ser altamente reconocido a nivel internacional como empresa de fabricación y comercialización de productos de cerámica creados con calidad certificada cumpliendo con las expectativas de nuestros clientes.</p>
    </div><!--end .accordion-section-content-->
  </div><!--end .accordion-section-->
</div><!--end .accordion-->

<div class="accordion">
  <div class="accordion-section">
    <a class="accordion-section-title" href="#accordion-3">Valores</a>

    <div id="accordion-3" class="accordion-section-content">
      <ul>
        <li class="text-fluid", style="font-family: 'Rockwell Extra Bold'" type="circle">Respeto</li>
        <li class="text-fluid", style="font-family: 'Rockwell Extra Bold'" type="circle">Responsabilidad</li>
        <li class="text-fluid", style="font-family: 'Rockwell Extra Bold'" type="circle">Trabajo en Equipo</li>
        <li class="text-fluid", style="font-family: 'Rockwell Extra Bold'" type="circle">Honestidad</li>
        <li class="text-fluid", style="font-family: 'Rockwell Extra Bold'" type="circle">Solidaridad</li>
      </ul>
    </div><!--end .accordion-section-content-->
  </div><!--end .accordion-section-->
</div><!--end .accordion-->